body {
    font-family: roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
  }
/* First Container */

.containerone {
    background: #1f2937;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

.wrk {
    font-size: 24px;
    flex: 0 0 250px;
  }

.listone ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 0px;
  }

.listone a {
    color: white;
    text-decoration: none;
  }
  
  
.maintitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px;
  }

.signup {
    flex-basis: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    margin-right: 75px;
  }

.art {
    font-size: 48px;
    font-weight: bolder;
  }

.joinmail {
    font-size: 18px;
    color: gray;
  }

.signup button {
    padding: 6px 32px;
    align-self: flex-start;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    border-style: none;
    margin-bottom: 12px;
  }

.hadib img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 0px;
  }

  /*container two*/

.containertwo {
    background: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 50px 50px;
  }

.headertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: #1f2937;
    font-weight: bold;
    font-size: 24px;
  }

.listtwo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 24px;
    list-style-type: none;
    padding: 0px;
  }

.listtwo ul li img {
    border: 3px  solid;
    border-color: #3882f6;
    border-radius: 6px;
  }

/* container three */

.containerthree {
    background: #e5e7eb;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 50px 50px;
  }

.quote {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding: 50px 150px;
  }

.famous {
    text-align: right;
    font-size: 20px;
  }

/* container four */

.containerfour {
    background: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px
  }

.signbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    border-style: none;
    padding: 30px 50px;
  }

.signbutton button {
    padding: 6px 32px;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    border-style: none;
    border: solid;
    border-color: white;
  }

  /* footer */

.footer {
    background: #1f2937;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}